@import '../../../styles/variable';

.OurGallery_Wrp{
    background-color: $White;
    overflow: hidden;
 
      .carousel {
        max-width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        transform-style: preserve-3d;
        transform: perspective(1000px);
        margin: auto;
        gap: 16px;
      }
      .carousel .item {
        width: 20%;
        // height: 250px;
        // max-width: 250px;
        /* background-color: white; */
        // margin: 16px;
        transition: 0.5s;
        object-fit: cover;
        filter: brightness(1);
        @media (max-width: 480px) {
          height: 100%;
        }
      }
      .carousel .item:hover {
        filter: brightness(1);
        transform: translateZ(170px);
      }
      .carousel .item:hover + * {
        filter: brightness(0.6);
        transform: translateZ(60px) rotateY(20deg);
      }
      .carousel .item:hover + * + * {
        filter: brightness(0.4);
        transform: translateZ(25px) rotateY(10deg);
      }
      .carousel .item:has(+ *:hover) {
        filter: brightness(0.6);
        transform: translateZ(60px) rotateY(-20deg);
      }
      .carousel .item:has(+ * + *:hover) {
        filter: brightness(0.4);
        transform: translateZ(25px) rotateY(-10deg);
      }
      
}
