@import '../../../styles/variable';

.SectionHeading {
    text-align: center;
    h2 {
        color: $primary;
    }

    .content{
        color: $Body_light;
    }
    &.text-white{
        h2 {
            color: $White;
        }
    
        .content{
            color: $White;
        }
    }
}