.features_wrp{
    .features_inner{
        display: flex;
        justify-content:space-between;
        align-items: center;
        gap: 90px;
        .features_lft{
            width: 60%;
        }
        .features_right{
            width:40%;
            img{
                width: 100%;
    height: auto;
            }
        }
    }
}