.features_wrp {
  .features_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;

    @media (max-width: 767px) {
      flex-direction: column-reverse;
    }
    &.feature_reverse {
      flex-direction: row-reverse;
      @media (max-width: 767px) {
        flex-direction: column;
      }
    }
    .features_lft {
      width: 60%;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    .features_right {
      width: 40%;
      @media (max-width: 767px) {
        width: 100%;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
