@import '../../../styles/variable';
.background_fill{
    background-color: $Secondary;
}
.bgImage{
    width: 100% !important;
    background-color: $White;
}
.testmonials_wrp{
    background-color: $Secondary;
    .testimonial_list{
        // display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 22px;
        padding-top: 60px;
    }
}