// Font Family
$font-ABeeZee : "ABeeZee", sans-serif;
$font-Roboto: "Roboto", sans-serif;

// color
$transparent : transparent;
$primary : #002147;
$Secondary : #FDC800;
$Body: #484646;
$Body_light : #888888;
$White : #fff;
$White_80 : #FFFFFFCC;
$Black: #000;
