@import '../../../styles/variable';
.accordion_wrp{
    
   
    p{
        color: $Body;
    }
    li{
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: $Body;
        @media (max-width: 1400px) {
          font-size: 13px;
          line-height: 18px;
        }
    }
    img{
        width: 100%;
        height: 100%;
    }
}
