@import '../../../styles/variable';
.TabNavigation_wrp{
    .tab_list{
        display: flex;
        flex-wrap: nowrap;
        border-bottom: 1px solid $primary;
        .tab_btn{
            background-color: transparent;
            border: unset;
            color: $primary;
            font-weight: 500;
            &.active{
                border-bottom: 3px solid $primary;
                margin-bottom: -2px;
            }
        }
    }
    .TabsContent{
        padding: 30px;
    }
    p{
        color: $Body;
    }
    li{
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: $Body;
        @media (max-width: 1400px) {
          font-size: 13px;
          line-height: 18px;
        }
    }
    img{
        width: 100%;
        height: 100%;
    }
}
