@import '../../../styles/variable';
.TestimonialsCard {
    padding: 11px;
    .persnol_del {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        @media (max-width: 480px) {
            flex-direction: column;
            align-items: flex-start;
        }

        .card_img {
            border-radius: 50%;
        }

        h5 {
            font-family: $font-ABeeZee ;
            color: $primary;
        }
        p{
            font-family: $font-ABeeZee ;
            color: $primary;
            margin: unset;
        }
    }
    p{
        margin-top: 28px;
        margin-bottom: unset;
        font-family: $font-ABeeZee ;
        color: #002147CC;

    }
}