@import '../../../styles/variable';

.courses_card {
    background: #FFFFFF;
    box-shadow: 0px 4px 24px 0px #0000000F;
    border-radius: 16px;
    padding: 24px;
    .card_img{
        border-radius: 16px;
    }
}