@import '../../styles/variable';
.contact_wrp{
  .contact_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    .contact_dtl{
      width: 100%;
      h2{
        text-align: left;
      }
      button{
        background-color: $primary;
        padding: 16px;
        width: 100%;
      }
    }
    .contact_map{
      width: 100%;
    }
  }
}