@import '../../../styles/variable';

.footer {
    background-color: $primary;

    .footerInner {
        padding: 120px 0 70px;
        margin: 0 60px;
        display: flex;
        gap: 45px;
        @media (max-width: 1199px) {
            flex-direction: column;
        }
        @media (max-width: 768px) {
            margin: unset;
        }

        .footer_info {
            width: 30%;
            @media (max-width: 1199px) {
               width: 100%;
            }

            p {
                font-family: $font-ABeeZee;
                color: $White;
                margin: 20px 0;
            }

            .socialMedia {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 16px;
            }
        }

        .footerNavLinkWrp {
            width: 70%;
            display: flex;
            justify-content: space-between;
            gap: 25px;
            @media (max-width: 1199px) {
                width: 100%;
             }
             @media (max-width: 767px) {
                flex-direction: column;
             }

            .footerNavLink {

                // width: 100%;
                // min-width: 15%;
                h6 {
                    font-family: $font-ABeeZee;
                    color: $White;
                    margin-bottom: 32px;
                }

                .List {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 8px;

                    a {
                        font-family: $font-ABeeZee;
                        color: $White;
                        display: flex;
                        gap: 12px;
                        &:hover{
                            color: $Secondary;
                        }
                    }
                }

                &.info_dtn {
                    width: 40%;
                    @media (max-width: 767px) {
                        width: 100%;
                     }
                }

                &.featured_link {
                    width: 60%;
                    @media (max-width: 767px) {
                        width: 100%;
                     }
                    .List {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 12px 60px;
                        @media (max-width: 480px) {
                            grid-template-columns: 1fr;
                         }

                    }
                }
            }
        }
    }

    .copyright {
        margin: 0 60px;
        border-top: 1px solid #848484;
        font-family: $font-ABeeZee;
        color: $White;
        padding: 24px 0;
        @media (max-width: 768px) {
            margin: unset;
        }
    }
}

.footer_cta_wrp {
    // background-color: $White;

    .footer_cta {
        background-color: $Secondary;
        border-radius: 24px;
        padding: 75px;
        margin-bottom: -60px;
        z-index: 2;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        box-shadow: 0px 10px 70px 0px $Secondary;
        @media (max-width: 1199px) {
            flex-direction: column;
            align-items: flex-start;
            h2{
                br{
                    display: none;
                }
            }
            padding: 45px;
        }
        @media (max-width: 650px) {
            padding: 30px;
        }

        .btn_wrp {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 16px;
            @media (max-width: 480px) {
                flex-direction: column;
                width: 100%;
            }

            .btn_primary {
                background-color: $primary;
                border: 1px solid $primary;
                color: $Secondary;
                border-radius: 6px;
                box-shadow: 0px 1px 4px 0px #19213D14;
                font-family: $font-ABeeZee;
                padding: 14px 16px;
                font-size: 20px;
                font-weight: 700;
                line-height: 20px;

                &:hover,
                &:active {
                    background-color: $Secondary;
                    color: $primary;
                }
                @media (max-width: 767px) {
                    font-size: 16px;
                    line-height: 16px; 
                }
                @media (max-width: 480px) {
                    font-size: 14px;
                    line-height: 14px; 
                    text-align: center;
                    width: 100%;
                }

                img {
                    margin-left: 3px;
                }


            }

            .btn_secondary {
                background-color: $Secondary;
                border: 1px solid $primary;
                color: $primary;
                border-radius: 6px;
                box-shadow: 0px 1px 4px 0px #19213D14;
                font-family: $font-ABeeZee;
                padding: 14px 16px;

                font-size: 20px;
                font-weight: 700;
                line-height: 20px;

                &:hover,
                &:active {
                    background-color: $primary;
                    color: $Secondary;
                }

                img {
                    margin-left: 3px;
                }
                @media (max-width: 767px) {
                    font-size: 16px;
                    line-height: 16px; 
                }
                @media (max-width: 480px) {
                    font-size: 14px;
                    line-height: 14px; 
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
}