@import "../../styles/variable";

.front_banner_main {
  position: relative;
  video.bg-video {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    // transform: translateX(-50%) translateY(-50%);
    z-index: 0;
  }
  .front_banner_wrp {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.front_banner_wrp {
  // background-color: $primary;
  background: linear-gradient(
    280.89deg,
    rgba(0, 33, 71, 0) 5.88%,
    #002147 73.28%
  );

  .front_banner_inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;

    .bannner_content {
      span {
        font-family: $font-ABeeZee;
        font-size: 24px;
        font-weight: 400;
        line-height: 22px;
        color: $Secondary;
      }

      h1 {
        font-family: $font-Roboto;
        color: $White;
      }

      p {
        font-family: $font-ABeeZee;
        color: $White;
      }
      .front_banner_form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        background-color: #00142a;
        padding: 12px 16px;
        border-radius: 12px;
        @media (max-width: 767px) {
          display: none;
        }
      }
    }
  }
}
.Banner_wrp {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  .Banner_overlay {
    background-image: url("/assets/images/banner-overlay.svg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    .Banner_inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 100px 0;
      .bannner_content {
        h1 {
          font-family: $font-Roboto;
          color: $White;
        }

        p {
          font-family: $font-ABeeZee;
          color: $White;
        }
        button {
          color: $Black;
          font-weight: 600;
        }
      }
    }
  }
}
